@using Przychodnia.App_GlobalResources;
@using Microsoft.AspNet.Identity
    <!-- PAGE FOOTER -->
<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white"> 
                <span class="hidden-xs">Zespołowy projekt bazodanowy </span> <br />
                <span class="hidden-xs">Autorzy: Łukasz Budrewicz, Piotr Jankowski, Paweł Rzęsa, Marcin Popiołek, Paweł Karsz</span>
            </span>
        </div>
    </div>
</div>
<!-- END PAGE FOOTER -->