@using Przychodnia.App_GlobalResources;
@using Microsoft.AspNet.Identity
<div class="login-info">
    <span>
        <a id="show-shortcut">
            <img src="~/content/img/avatars/sunny.png" alt="me" class="online" />
            <span>@User.Identity.Name.ToLower().ToString()</span>
            <i class="fa fa-angle-down"></i>
        </a>
    </span>
</div>